<div class="d-flex">
<div class="row" id="box-search">
  <div class="thumbnail text-center">
    <%= image_tag "mars_bg.png", alt: "alttext", :class => "img" %>
    <div class="caption">
      <h1 class="big-text-planet">
        La planète rouge
      </h1>
      <p class="little-text-planet">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed urna consequat turpis id eget a eget. Et mauris pulvinar dictum metus sapien.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 20rem; margin-left: auto; margin-right: auto; margin-top: 24px;">
        <%= image_tag "mars1.png", alt: "alttext", class: "card-img-top border_img"%>
        <!-- <img class="card-img-top border_img" src="https://source.unsplash.com/random/200x100" alt="Card image cap"> -->
        <div class="card-body">
          <p class="card-top-text">Entire house</p>
          <h5 class="card-title">Card title</h5>
          <p class="card_price">360$/night</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 20rem; margin-left: auto; margin-right: auto; margin-top: 24px;">
        <%= image_tag "mars2.png", alt: "alttext", class: "card-img-top border_img"%>
        <!-- <img class="card-img-top border_img" src="https://source.unsplash.com/random/200x100" alt="Card image cap"> -->
        <div class="card-body">
          <p class="card-top-text">Entire house</p>
          <h5 class="card-title">Card title</h5>
          <p class="card_price">360$/night</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 20rem; margin-left: auto; margin-right: auto; margin-top: 24px;">
        <%= image_tag "mars3.png", alt: "alttext", class: "card-img-top border_img"%>
        <!-- <img class="card-img-top border_img" src="https://source.unsplash.com/random/200x100" alt="Card image cap"> -->
        <div class="card-body">
          <p class="card-top-text">Entire house</p>
          <h5 class="card-title">Card title</h5>
          <p class="card_price">360$/night</p>
        </div>
      </div>
    </div>
  </div>
</div>
