@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

body {
   background-color: #f2f2f2;
}

h1 {
   font-family: 'Montserrat';
}

.carousel-nav-icon {
  height: 48px;
  width: 48px;
  background-color: #525271;
  padding: 32px;
  border-radius: 50%;
}

#grandcarousel {
  position: absolute;
  bottom: 253px;
  left: 650px;
}


.carousel-item {
  width: 980px;
   .col, .col-sm, .col-md {
      margin: 8px;
      height: 420px;
      width: 320px;
      background-size: cover;
      background-position: center center;
   }
   img {

   }
}
