.flatcard-container {
  background: black;
  width: 1000px;
  height: 1000px;
}

.flatcard {
  position: absolute;
  left: 8.33%;
  right: 56.67%;
  top: 55.78%;
  bottom: 14.44%;
  padding: 10px;

  background: linear-gradient(0deg, rgba(81, 84, 109, 0.24), rgba(81, 84, 109, 0.24));
  backdrop-filter: blur(56px);

  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0px 16px 16px 16px;
}

.flatcard h1 {
  font-family: Exo 2;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 160%;

  /* identical to box height, or 77px */
  display: flex;
  align-items: center;

  color: #FFFFFF;
  }

.flatcard-description {
  font-family: Exo 2;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;

  /* or 29px */
  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.flatcard-rating {
  position: absolute;
  width: 440px;
  height: 87px;
  left: 48px;
  top: 520px;
}

.flatcard-image {
  position: absolute;
  width: 450px;
  height: 260px;
  left: 8.33%;
  top: 210px;
  background-size: 100% !important;

  background: url(nicolas-lobos-kGtFjYdm7DI-unsplash.jpg);
}

.flatcard-cards {
  position: absolute;
  width: 809px;
  height: 678px;
  left: 595px;
  top: 218px;
}

.flatcard-form {
  position: absolute;
  left: 62.78%;
  right: 8.47%;
  top: 22.22%;
  bottom: 14.44%;

  display:flex;
  align-items: flex-end;

  background: linear-gradient(0deg, rgba(81, 84, 109, 0.32), rgba(81, 84, 109, 0.32));
  backdrop-filter: blur(56px);

  /* Note: backdrop-filter has minimal browser support */
  border-radius: 16px;
}
