.navbar-lewagon {
  color: white !important;
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 137px;
}

.white_text {
  color: white;
}

.dropdown-menu a {
  color: black !important;
}

a {
  color: white !important;
}
